# Exploratory Data Analysis

This notebook introduces you to exploratory data analysis using the [pandas](https://pandas.pydata.org) library. Pandas is not specific to geospatial data, so what we do here can be applied to pretty much any dataset you encounter.

![pandas logo](https://pandas.pydata.org/pandas-docs/stable/_static/pandas.svg)

As a quick intro, we reommend [10 minutes to pandas](https://pandas.pydata.org/docs/getting_started/10min.html#min). This notebook will point you to the relevant sections of the [pandas user guide](https://pandas.pydata.org/docs/user_guide/index.html), which is generally a great resource whenever you need documentation about a pandas feature.

Let's get started by loading pandas:

In [1]:
import pandas as pd

### Loading data

Load some traffic accident data directly from the web ([NYC Crash Mapper](http://crashmapper.org/#/?cfat=true&cinj=true&endDate=2019-03&geo=citywide&identifier=&lngLats=%255B%255D&mfat=true&minj=true&noInjFat=false&pfat=true&pinj=true&startDate=2018-03)):

In [2]:
url="https://chekpeds.carto.com/api/v2/sql?q=SELECT%20c.cartodb_id%2C%20c.socrata_id%2C%20c.the_geom%2C%20c.on_street_name%2C%20c.cross_street_name%2C%20c.date_val%20AS%20date_time%2C%20c.latitude%2C%20c.longitude%2C%20c.borough%2C%20c.zip_code%2C%20c.crash_count%2C%20c.number_of_cyclist_injured%2C%20c.number_of_cyclist_killed%2C%20c.number_of_motorist_injured%2C%20c.number_of_motorist_killed%2C%20c.number_of_pedestrian_injured%2C%20c.number_of_pedestrian_killed%2C%20c.number_of_persons_injured%2C%20c.number_of_persons_killed%2C%20array_to_string(c.contributing_factor%2C%20%27%2C%27)%20as%20contributing_factors%2C%20array_to_string(c.vehicle_type%2C%20%27%2C%27)%20as%20vehicle_types%20FROM%20crashes_all_prod%20c%20%20WHERE%20(%20year%3A%3Atext%20%7C%7C%20LPAD(month%3A%3Atext%2C%202%2C%20%270%27)%20%3C%3D%20%272019%27%20%7C%7C%20LPAD(3%3A%3Atext%2C%202%2C%20%270%27)%20)%20AND%20(%20year%3A%3Atext%20%7C%7C%20LPAD(month%3A%3Atext%2C%202%2C%20%270%27)%20%3E%3D%20%272018%27%20%7C%7C%20LPAD(3%3A%3Atext%2C%202%2C%20%270%27)%20)%20%20AND%20(%20number_of_cyclist_injured%20%3E%200%20OR%20number_of_motorist_injured%20%3E%200%20OR%20number_of_pedestrian_injured%20%3E%200%20%20OR%20%20number_of_cyclist_killed%20%3E%200%20OR%20number_of_motorist_killed%20%3E%200%20OR%20number_of_pedestrian_killed%20%3E%200%20)&format=CSV"
accidents = pd.read_csv(url)

This creates a [dataframe](https://pandas.pydata.org/pandas-docs/stable/getting_started/dsintro.html#dataframe), let's take a glimpse:

In [3]:
accidents

,the_geom,cartodb_id,socrata_id,on_street_name,cross_street_name,date_time,latitude,longitude,borough,zip_code,...,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,number_of_pedestrian_injured,number_of_pedestrian_killed,number_of_persons_injured,number_of_persons_killed,contributing_factors,vehicle_types
0,0101000020E61000001092054CE07E52C09FAD8383BD55...,2413283,4069947,6 AVENUE,NaN,2019-01-27 18:15:00+00,40.669846,-73.982440,Brooklyn,11215.0,...,1,0,0,0,0,0,1,0,Unspecified,Bike
1,0101000020E610000045D8F0F44A7D52C07B4963B48E66...,2449473,4026726,WEST 111 STREET,NaN,2018-11-11 15:20:00+00,40.801230,-73.957700,Manhattan,10026.0,...,1,0,0,0,0,0,1,0,"Unspecified,Unspecified","Sedan,Bike"
2,0101000020E61000005166834C327C52C091D26C1E8765...,2333947,3944536,EAST 110 STREET,NaN,2018-07-19 04:39:00+00,40.793186,-73.940570,Manhattan,NaN,...,0,0,1,1,0,0,1,1,Unsafe Speed,Motorcycle
3,0101000020E61000004B766C04E27752C08505F7031E60...,2470114,4079675,37 AVENUE,NaN,2019-02-12 13:10:00+00,40.750916,-73.873170,Queens,11372.0,...,0,0,1,0,0,0,1,0,"Pavement Slippery,Driver Inattention/Distraction","Sedan,Sedan"
4,NaN,2435640,4052363,MANHATTAN BR LOWER,NaN,2018-12-17 07:43:00+00,NaN,NaN,NaN,NaN,...,0,0,1,0,0,0,1,0,Driver Inattention/Distraction,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48891,0101000020E6100000E2E47E87A27252C0D89AADBCE459...,2271406,3886527,LIBERTY AVENUE,NaN,2018-04-21 21:22:00+00,40.702293,-73.791170,Queens,NaN,...,1,0,0,0,0,0,1,0,"Alcohol Involvement,Unspecified","PICK-UP TRUCK,BICYCLE"
48892,0101000020E6100000EB8B84B69C7952C0AFB0E07EC055...,2258539,3870330,BELMONT AVENUE,NaN,2018-03-24 15:10:00+00,40.669937,-73.900190,Brooklyn,11207.0,...,0,0,2,0,0,0,2,0,"Failure to Yield Right-of-Way,Unspecified","TAXI,SPORT UTILITY / STATION WAGON"
48893,0101000020E6100000116F9D7FBB7A52C0B875374F7568...,2410846,4018846,EAST 149 STREET,NaN,2018-11-09 17:00:00+00,40.816080,-73.917694,Bronx,10455.0,...,0,0,0,0,1,0,1,0,Unspecified,Sedan
48894,0101000020E6100000D595CFF23C7052C039622D3E054E...,2258839,3870254,BEACH CHANNEL DRIVE,NaN,2018-03-25 16:20:00+00,40.609535,-73.753720,Queens,11691.0,...,0,0,1,0,0,0,1,0,"Driver Inattention/Distraction,Driver Inattent...","PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON"
48895,0101000020E610000097CADB114E7352C036E50AEF7265...,2409756,4018174,160 STREET,NaN,2018-11-10 00:30:00+00,40.792570,-73.801640,Queens,11357.0,...,0,0,2,0,0,0,2,0,"Traffic Control Disregarded,Unspecified",Sedan

Loading a local file is just as easy:

In [ ]:
accidents = pd.read_csv("accidents.csv") # <- this is actually an older version of the same dataset we loaded from the web before
accidents

Let's check out the [data types](https://pandas.pydata.org/pandas-docs/stable/getting_started/basics.html#basics-dtypes) on our accidents data

In [ ]:
accidents.dtypes

Strings and the timestamp are stored as [objects](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html?highlight=object) ‚Äì we'll fix that in a bit.

Let's try to access parts of the accidents DataFrame. First, a single column. This will return a pandas [Series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html).

In [ ]:
accidents['vehicle_types']

Slicing rows ‚Äì¬†returns a new DataFrame:

In [ ]:
accidents[2:10] # rows 2 to 9 (!)

In [ ]:
accidents[2:]   # all rows from row 2

In [ ]:
accidents[:10]  # all rows up to row 9

### Using [.loc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html)

In [ ]:
accidents.loc[3]

Using .loc to pick columns:

In [ ]:
accidents.loc[27:29, ['number_of_cyclist_injured', 'number_of_cyclist_killed']]

### Using [.iloc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html)

... to get the same result. Notice how .loc and .iloc use different indexing ‚Äì¬†.loc is *inclusive* the last mentioned index (29 here), .iloc is *exlusive* (30 in this example). Here's a [good article](https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/) comparing the different access methods.

In [ ]:
accidents.iloc[27:30, 11:13]

### DataFrame indexes

Each dataframe has an [index](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing). Initially, that's just a number for each row:

In [ ]:
accidents.index

Let's get an overview of the columns in the dataset (again)...

In [ ]:
accidents.columns

... and index the dataset by timestamp of the accident instead:

In [ ]:
accidents.set_index(pd.to_datetime(accidents['date_time']), inplace=True)
accidents.set_index(accidents.index.tz_localize(None), inplace=True)
accidents.index

Now we can easily query the accidents by date range:

In [ ]:
accidents.loc['2019-01-01':'2019-02-01']

How many accidents do we have per month of the year?

In [ ]:
accidents.resample('M').sum()

..and per hour?

In [ ]:
accidents.resample('H').sum()

How many accidents are there on average per hour of the day?

In [ ]:
hourly_accidents = accidents.resample('H').sum()
hourly_accidents['hour'] = hourly_accidents.index.hour
hourly_accidents.groupby(['hour']).mean()

Let's plot this:

In [ ]:
# you only need this one once ‚Äì all plots from here on will be embedded in the notebook
%matplotlib inline 

mean_hourly_accidents = hourly_accidents.groupby(['hour']).mean()
mean_hourly_accidents.plot(y='crash_count')

# üèã Exercise

**Which month of the year has the [highest number](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.max.html) of accidents?**

In [ ]:
# your code here...

### Boolean indexing

With [boolean indexing](https://www.geeksforgeeks.org/boolean-indexing-in-pandas/), we can select rows where certain criterea (or combinations thereof) are true. As an example, let's select all accidents where cyclists have been injured:

In [ ]:
accidents['number_of_cyclist_injured'] > 0

Filter the dataframe using this boolean series:

In [ ]:
accidents[accidents['number_of_cyclist_injured'] > 0]

Combine multiple citeria:

In [ ]:
accidents[(accidents['number_of_cyclist_injured'] > 0) | (accidents['number_of_cyclist_killed'] > 0)]

Query using string matching:

In [ ]:
accidents[accidents['vehicle_types'].str.contains('Taxi')]

Ooops... Do we have null values in our ```vehicle_types``` column?

In [ ]:
accidents[accidents['vehicle_types'].isnull()]

Let's replace the NaN values with an empty string:

In [ ]:
accidents.vehicle_types.fillna('', inplace=True)
accidents[accidents['vehicle_types'].isnull()]

Now this should work:

In [ ]:
accidents[accidents['vehicle_types'].str.contains('Taxi')]

Writing the filtered dataset to a CSV file:

In [ ]:
taxi_accidents = accidents[accidents['vehicle_types'].str.contains('Taxi')]
taxi_accidents.to_csv('taxi_accidents.csv')

### Plotting and (simple) mapping

In [ ]:
accidents.plot(x='longitude', 
               y='latitude', 
               kind='scatter')

These accidents are all in NYC, so the dots at the top left and bottom right are clearly wrong coordinates. Let's remove them:

In [ ]:
accidents = accidents[ (accidents['latitude'] > 30) & (accidents['longitude'] > -100)  ]
accidents.plot.scatter(x='longitude', 
               y='latitude')

Not very pretty, but it's a start. 

Let's make a fancy map now. See the docs for explanation of the [variables](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.html#pandas.DataFrame.plot) and [color scales](https://matplotlib.org/users/colormaps.html).

In [ ]:
accidents[accidents['number_of_persons_injured'] > 0].plot.scatter(x='longitude', 
               y='latitude', 
               c='number_of_persons_injured',
               s=0.7,
               title='NYC accidents with injuries',                                                   
               colormap='Wistia',
               figsize=[14,14])

Let's take a look at hexbins to identify potential hotspots:

In [ ]:
accidents.plot.hexbin(x='longitude', 
               y='latitude',
               figsize=[14,14])

Let's make a KDE map using [Seaborn](https://seaborn.pydata.org). If you don't know what KDE is, here is an excellent interactive tutortial explaning the idea of [Kernel Density Estimation](https://mathisonian.github.io/kde/).

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
plt.figure(figsize=(14, 14))
sns.kdeplot(accidents['longitude'], 
            accidents['latitude'],
            cmap='Reds',
            shade=True)
plt.savefig('kde.pdf') # saves the plot to a PDF file in the same folder as this notebook 
                       # ‚Äì¬†this command has to go in the same cell that produces the plot!

Let's get an overview of the accidents dataset:

In [ ]:
accidents.describe()

How does the distribution of monthly fatalities look like?

In [ ]:
monthly_accidents = accidents.resample('M').sum()

plt.figure(figsize=(14, 5))
sns.boxplot(monthly_accidents['number_of_persons_killed'])

ü§î How do you [read a box plot again](https://en.wikipedia.org/wiki/Box_plot#Visualization)? 

Let's make a distribution plot:

In [ ]:
plt.figure(figsize=(14, 8))
sns.distplot(monthly_accidents['number_of_persons_killed'])

Scatter plot with fitted linear regression line:

In [ ]:
sns.lmplot(x='number_of_persons_injured',y='number_of_persons_killed',data=monthly_accidents)

# üèãüèº‚Äç‚ôÄÔ∏è Exercise

Use the things we have discussed plus the corresponding documentation to accomplish the following tasks:

1. Read this file from the [Uppsala Conflict Data Program](https://ucdp.uu.se): http://ucdp.uu.se/downloads/ged/ged181-csv.zip
2. Create some maps of the conflicts to identify clusters.
3. Aggregate the data in different ways, e.g. by type of violence or region, and create summary statistics.

ü§ì Have fun!